# Arduino / PlatformIO build folders
build/
.pio/

# Arduino IDE files
*.ino.*
*.hex
*.elf

# C/C++ generic ignores (from your template)
*.d
*.o
*.ko
*.obj
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
*.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.dwo

# Editor / OS files
.vscode/
.DS_Store
Thumbs.db

# Secrets / credentials
arduino_secrets.h
credentials.h
